@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


header, footer {
  background-color: #1f2937;
  padding: 10px 60px;
}


nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color:#f9faf8;
}

.logo {
  font-family: "Sevillana", cursive;
  font-size: 24px;
  color:#f9faf8;
  padding: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  padding: 40px;
}

a, a:visited {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-text{
  width: 500px;
}

button {
  background: #3882f6;
  border: 0px solid #3882f6;
  padding: 5px 10px;
  color: #e5e7eb;
  margin-top: 20px;
}

.img-holder{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  color: #e5e7eb;
}

.img-holder {
  background-color: gray;
}

h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.cards, .quote, .text-content {
  padding: 20px 150px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-img {
  border: 1px solid #3882f6;
  width: 150px;
  height: 150px;
  margin: 20px 50px;
}

.card {
  height: 300px;
  width: 300px;
}

.card .text {
  text-align: center;
}



.quote {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: #f9faf8;
  margin: 50px 0;
}

.text-content button {
  border: 1px solid #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}